# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!customs
!custom_components
!www
!themes

# Ignore folders.
.storage
.cloud
.google.token
.vscode
deps
tts

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
homeassistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
home-assistant.log
token.txt
home-assistant.log.fault
home-assistant.log.1
home-assistant_v2.db
home-assistant_v2.db.corrupt.2024-02-14T09:37:34.349053+00:00
